{% extends "AdminBundle:Default:layout.html.twig" %}
{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">                            
                    <div class="header">
                        <p class="category">
                            <!--Ruta-->
                            <div style="border-bottom:1px dotted gray;padding-bottom:10px;">
                                <a href="{{ path('admin_homepage') }}" style="color:#9368E9;">
                                    <b>Inicio</b>
                                </a>
                                <b>/</b>
                                <a href="{{path('admin_producto',{'id':'list'})}}" style="color:#9368E9;">
                                    <b>Productos</b>
                                </a>
                            </div>
                            <!--Titulo-->
                            <h3 class="title" style="margin-top:10px;">
                                <i class="pe-7s-shopbag"></i>
                                Productos cargados
                            </h3>                                                
                            <!--Tabla-->
                            <div style="margin-top:10px;font-size:17px;padding:20px;">
                                <div style="margin-bottom:15px;overflow:auto;">
                                    <a href="{{path('admin_plantillas',{'idlog':idlog})}}" target="_blank">
                                        <button class="btn btn-warning btn-fill pull-right">
                                            <i class="pe-7s-note2"></i>&nbsp;
                                            Plantilla cod. barra
                                        </button>
                                    </a>
                                    <!-- 12/03/2017: Agregado -->
                                    <a href="{{path('admin_buscar_producto')}}" target="_blank">
                                        <button class="btn btn-warning btn-fill pull-left">
                                            <i class="fa fa-search"></i>&nbsp;
                                            Buscar productos cargados
                                        </button>
                                    </a>                                 
                                </div>
                                <table class="table table-hover">
                                    <thead>                                        
                                        <tr>
                                            <th>Id</th>
                                            <th>Tipo Producto</th>
                                            <th>Modelo</th>
                                            <th>Origén</th>                                            
                                            <th>Fecha fab.</th>
                                            <th>Codigo de barra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for prod in productos %}
                                        <tr>
                                            <td>{{prod.id}}</td>
                                            <td>{{prod.descripcion}}</td>
                                            <td>{{prod.modelo}}</td>
                                            <td>Taller</td>                                            
                                            <td>{{prod.fecha_fab}}</td>
                                            <td>{{prod.codebar}}</td>
                                        </tr>
                                        {% endfor %}                                        
                                    </tbody>
                                </table>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}